<div class="container text-center">
    <br>
    <h5>Hi guys! I am Harsh. I am a CS undergrad studying in {{year}}.</h5>
    <h5>As I believe, learning should be ceaseless and in today's world knowledge is literally everywhere.</h5>
    <h5>We just need a vision and an appetite for opportunity.</h5>
    <h5>Hope you like the app. This project is built using basic Angular concepts as a practice app tasked in the Angular JS course I was doing.</h5>
    <br>
    <p style="margin: 0;">Contact me at: {{pNumber}}</p>
    <p>Email me at: {{email}}</p>

</div>